<div class="btn-menu" onclick="window.location.href = '#/Genero'">
    <button><span class="glyphicon glyphicon-th"></span></button>Genero
</div>
<div class="btn-menu" onclick="window.location.href = '#/AplicacionVacuna'">
    <button><span class="glyphicon glyphicon-th"></span></button>AplicacionVacuna
</div>
<div class="btn-menu" onclick="window.location.href = '#/TipoDocumento'">
    <button><span class="glyphicon glyphicon-th"></span></button>TipoDocumento
</div>
<div class="btn-menu" onclick="window.location.href = '#/TipoResidencia'">
    <button><span class="glyphicon glyphicon-th"></span></button>TipoResidencia
</div>
<div class="btn-menu" onclick="window.location.href = '#/Dosis'">
    <button><span class="glyphicon glyphicon-th"></span></button>Dosis
</div>
<div class="btn-menu" onclick="window.location.href = '#/Municipio'">
    <button><span class="glyphicon glyphicon-th"></span></button>Municipio
</div>
<div class="btn-menu" onclick="window.location.href = '#/Cargo'">
    <button><span class="glyphicon glyphicon-th"></span></button>Cargo
</div>
<div class="btn-menu" onclick="window.location.href = '#/Departamento'">
    <button><span class="glyphicon glyphicon-th"></span></button>Departamento
</div>
<div class="btn-menu" onclick="window.location.href = '#/Paciente'">
    <button><span class="glyphicon glyphicon-th"></span></button>Paciente
</div>
<div class="btn-menu" onclick="window.location.href = '#/Vacunador'">
    <button><span class="glyphicon glyphicon-th"></span></button>Vacunador
</div>
<div class="btn-menu" onclick="window.location.href = '#/Biologico'">
    <button><span class="glyphicon glyphicon-th"></span></button>Biologico
</div>
<div class="btn-menu" onclick="window.location.href = '#/IPS'">
    <button><span class="glyphicon glyphicon-th"></span></button>IPS
</div>
<div class="btn-menu" onclick="window.location.href = '#/Pais'">
    <button><span class="glyphicon glyphicon-th"></span></button>Pais
</div>
<div class="btn-menu" onclick="window.location.href = '#/GrupoEtnico'">
    <button><span class="glyphicon glyphicon-th"></span></button>GrupoEtnico
</div>

